
# ---- Logs and temporary files ----
*.log
*.tmp
*.swp

# ---- R session files ----
.Rhistory
.RData
.Ruserdata
.Rapp.history

# ---- macOS system files ----
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

renv/library/